body {
  font-family: "Titillium Web", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  background: url("img/img.jpg");
}
.left {
  display: inline-block;
  /* border: 2px solid red; */
  position: absolute;
  left: 60px;
  top: -19px;
  width: 15%;
}

.left img {
  width: 150px;
  filter: invert(100%);
  margin-bottom: -10px;
}

.left div {
  display: inline-block;
  line-height: 9px;
  font-size: 16px;
  text-align:start;
}

.left a {
  /* border: 2px solid blue; */
  color: white;
  text-decoration: none;
  padding: 5px 38px
}

.left a:hover,
.left a:active {
  text-decoration: underline;
  color: grey;
}

.mid {
  display: block;
  width: 49%;
  margin: 42px auto;
  /* border: 2px solid green; */
}

.right {
  position: absolute;
  right: 24px;
  top: 50px;
  display: inline-block;
  /* border: 2px solid yellow; */
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 19px;
}

.navbar li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 34px 3px;
}

.navbar li a:hover,
.navbar li a:active {
  text-decoration: underline;
  color: grey;
}

.btn {
  margin: 0px 9px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(31, 30, 30);
}

.container {
  border: 2px solid white;
  margin: 83px 58px;
  padding: 60px;
  width: 38%;
  border-radius: 28px;
}

.form-group input {
  text-align: center;
  display: block;
  width: 508px;
  padding: 1px;
  border: 2px solid black;
  margin: 11px auto;
  font-size: 25px;
  border-radius: 8px;
}

.container h1 {
  text-align: center;
}

.container button {
  display: block;
  width: 74%;
  margin: 20px auto;
}
